.translationTable {
  text-align: left;
}

.translationTable td, .translationTable th {
  border: 1px solid #000;
  padding: 4px;
  font-size: 48px;
}

.solved {
  background: #0F0;
}

.clickable {
  cursor: pointer;
}

.translationTableTooltip td, .translationTableTooltip th {
  font-size: 32px;
  padding: 16px;
  border: 1px solid #000;
  white-space: nowrap;
  color: #000;
}

.selectedTranslation {
  font-weight: bold;
  color: #0F0 !important;
}

.translationTooltipPart {
  display: inline-block;
  margin-right: 16px;
  text-align: center;
}

.headerKnownInfoTop {
  text-align: center;
}

.knownInfoTop {
  font-size: 48px;
  margin-left: 8px;
  border-left: 4px solid #000;
  padding: 4px;
}

.challengeSection {
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  width: 49%;
  height: 320px;
  border: 1px solid #000;
  margin: 4px;
}

.correctAnswer {
  background: #0F0;
}

.wrongAnswer {
  background: #F00;
  color: #FFF;
}

.challengeRowHeader {
  font-size: 48px;
  font-weight: bold;
}

